<div class="container-fluid">
    <div class="container d-flex categories-wrap">
        <a  class="item" (click)="filter('')">
            <img src="https://i.postimg.cc/QtG4sCF3/allproducts.webp" alt="">
            <h6>All Products</h6>
        </a>
        <a  class="item" (click)="filter('3')">
            <img src="https://i.postimg.cc/kgjPnQCd/elect1.webp" alt="">
            <h6>Electronics</h6>
        </a>
        <a  class="item" (click)="filter('2')">
            <img src="https://i.postimg.cc/05pg6Rvn/jewllery.webp" alt="">
            <h6>Jewlllery</h6>
        </a>
        <a  class="item" (click)="filter('1')">
            <img src="https://i.postimg.cc/mrJx9ThX/fashion.webp" alt="">
            <h6>Fashion</h6>
        </a>
    </div>
</div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div *ngFor="let products of filterCategory | filter:searchKey:'productName'" class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="{{products.img}}" height="300px" width="100%" style="object-fit: cover;" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{products.productName}}</h5>
                          <!-- Product price-->
                          $40.00 - $80.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="products/view-product/{{products.id}}">View options</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
